

@import "Ginkgo";

html {
  display: table;
  height: 100%;
}

body {
  position: relative;

  display: table-cell;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
  color: black;

  font-size: 12px;
  text-align: center;
  font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  
  // // 文字染色，背景色、文字色
  // @include selection(rgba(120, 186, 255, 1.00), rgba(255, 255, 255, 1));

  background: #fff9ce; /* Old browsers */
  
}


.black_boxs {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 46, 39, .6);

  &.black_show {
   display: table-cell;
  }

  .l_boxs {
    display: inline-block;
    width: 80%;
    padding: 20px 15px;
    @include border-radius(5px);
    border: 1px solid rgba(255, 96, 0, .5);

    margin-top: 30%;

    background: -moz-linear-gradient(top,  #ffffff 20%, #fff9ce 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 20%, #fff9ce 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(top,  #ffffff 20%, #fff9ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff9ce',GradientType=0 ); /* IE6-9 */
    
    img {
      display: inline-block;
      width: 100%;
      max-width: 80px;
      margin-bottom: 20px;
    }
  }
}



.all_boxs {
  display: inline-block;
  width: 100%;
  min-height: 100%;

  background: -moz-linear-gradient(top,  #ffffff 20%, #fff9ce 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 20%, #fff9ce 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(top,  #ffffff 20%, #fff9ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff9ce',GradientType=0 ); /* IE6-9 */

  .top_boxs {
    display: inline-block;
    width: 100%;

    .top {
      display: inline-block;
      width: 100%;
      height: 45px;
      border-bottom: 1px solid #ff7d2e;
    }

    .down {
      display: inline-block;
      width: 100%;

      .title_boxs {
        display: inline-block;
        width: 220px;
        height: 60px;
        margin-top: -25px;
        position: relative;

        // 漸層
        background: #ff9759; /* Old browsers */
        background: -moz-linear-gradient(top, #ff9759 0%, #ff9759 48%, #ff8d4c 49%, #ff6000 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ff9759 0%,#ff9759 48%,#ff8d4c 49%,#ff6000 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ff9759 0%,#ff9759 48%,#ff8d4c 49%,#ff6000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9759', endColorstr='#ff6000',GradientType=0 ); /* IE6-9 */
        
        // 圓角
        -webkit-border-bottom-right-radius: 8px;
        -webkit-border-bottom-left-radius: 8px;
        -moz-border-radius-bottomright: 8px;
        -moz-border-radius-bottomleft: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;

        // 陰影
        box-shadow: 0px 1px 2px 1px rgba(52, 52, 52, .5);
        -webkit-box-shadow: 0px 1px 2px 1px rgba(52, 52, 52, .5);
        -moz-box-shadow: 0px 1px 2px 1px rgba(52, 52, 52, .5);
        -o-box-shadow: 0px 1px 2px 1px rgba(52, 52, 52, .5);

        &:before {
          display: inline-block;
          content: '';
          position: absolute;
          left: -15px;
          top: 0;

          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 25px 15px;
          border-color: transparent transparent #ca6c31 transparent;
        }

        &:after {
          display: inline-block;
          content: '';
          position: absolute;
          right: -15px;
          top: 0;

          width: 0;
          height: 0;
          border-style: solid;
          border-width: 25px 0 0 15px;
          border-color: transparent transparent transparent #ca6c31;
        }

        img {
          display: inline-block;
          width: 100%;
          max-width: 49px;
          padding-top: 7px;
          margin-right: 5px;
        }

        .title {
          display: inline-block;
          color: white;
          font-size: 1.4rem;
          font-weight: bold;
          line-height: 60px;
        }
      }
    }
  }


  .cent_boxs {
    display: inline-block;
    width: 100%;
    padding: 0 35px;

    &.fix_box {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 0 35px;
    }

    @include range-width(0, 325px) {
      padding: 0 20px;
    }

    .note_box {
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid #ff7d2e;
      height: 40px;
      text-align: left;
      line-height: 40px;
    }

    .cent_box {
      display: inline-block;
      width: 100%;
      padding-top: 20px;
      @include clearfix();

      &.no_pt {
        padding-top: 0;
      }

      .t_boxs {
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
        @include clearfix();
        text-align: left;

        .t_left_box {
          display: inline-block;
          width: 35%;
          float: left;

          &.tr {
            float: right;
          }
        }

        .t_right_box {
          display: inline-block;
          width: 65%;
          float: right;

          &.tl {
            float: left;
          }
        }

        .t_all_box {
          display: inline-block;
          width: 100%;
          @include clearfix();
          
          .D3 {
            display: inline-block;
            width: calc(100% / 3);
            float: left;
          }

          &.all_s_box {
            background-color: white;
            padding: 10px 15px;
            @include border-radius(5px);
            border: 1px solid rgba(222, 221, 222, 1.00);
            height: 60vh;
            overflow: scroll;
            overflow-X:hidden; 
          }
        }
      }
    }
  }
}



a, button {
  display: inline-block;
  min-width: 110px;
  padding: 8px 0;
  color: white;
  font-size: 1.1rem;
  @include border-radius(5px);
  outline: 0;
  border: 0;
  text-align: center;
  text-decoration: none;

  // 漸層
  background: #ff9759; /* Old browsers */
  background: -moz-linear-gradient(top, #ff9759 0%, #ff9759 48%, #ff8d4c 49%, #ff6000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff9759 0%,#ff9759 48%,#ff8d4c 49%,#ff6000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff9759 0%,#ff9759 48%,#ff8d4c 49%,#ff6000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9759', endColorstr='#ff6000',GradientType=0 ); /* IE6-9 */
  
  // 陰影
  box-shadow: 0px 1px 2px 1px rgba(52, 52, 52, .5);
  -webkit-box-shadow: 0px 1px 2px 1px rgba(52, 52, 52, .5);
  -moz-box-shadow: 0px 1px 2px 1px rgba(52, 52, 52, .5);
  -o-box-shadow: 0px 1px 2px 1px rgba(52, 52, 52, .5);

  &.btn_l {
    float: left;
  }

  &.btn_r {
    float: right;
  }

  &.btn_edit {
    display: inline-block;
    width: 90%;
    min-width: auto;
    padding: 4px;
    font-size: 1rem;
    float: right;
  }
}


input {
  display: inline-block;
  width: 100%;
  @include border-radius(3px);
  border: 1px solid rgba(222, 221, 222, 1.00);
  padding: 5px;
  color: black;
  font-size: 1rem;

  &.no_line {
    outline: none;
  }

  &::-webkit-input-placeholder { /* WebKit browsers */
      color: #afafaf;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #afafaf;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #afafaf;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: #afafaf;
  }
}

select {
  display: inline-block;
  width: 100%;
  border: 1px solid rgba(222, 221, 222, 1.00);
  padding: 5px;
  color: black;
  font-size: 1rem;
  @include border-radius(3px);

  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  padding-right: 14px;

  background: url("https://raw.githubusercontent.com/ourjs/static/gh-pages/2015/arrow.png") no-repeat scroll right center white;

}


select::-ms-expand { display: none; }

label {
  padding: 0;
  margin-right: 20px;
  cursor: pointer;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox]+span {
  display: inline-block;
  padding-left: 30px;
  line-height: 20px;
  background: url(../img/cbx-off.png) no-repeat;
  user-select: none;
}
input[type=checkbox]:checked+span {
  background: url(../img/cbx-on.png) no-repeat;
}



.w63 {
  display: inline-block;
  width: 63%;
}

.mb30 {
  margin-bottom: 30px;
}

.pd10 {
  padding-bottom: 10px;
}

p {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.red12 {
  color: red;
  font-size: 1rem;
}

.red10 {
  color: red;
  font-size: .8rem;
  padding-top: 5px;
}

.org13 {
  color: #ff6000;
  font-size: 1.1rem;
}

.l_org14 {
  display: inline-block;
  width: 100%;
  color: #ff6000;
  font-size: 1.2rem;
}

.l_org13 {
  display: inline-block;
  width: 100%;
  color: #ff6000;
  font-size: 1.1rem;
  text-align: left;
}

i {
  font-style: normal;
  color: red;
}

.all_sroll {
  display: inline-block;
  width: 100%;
  color: black;
  font-size: 1rem;
  line-height: 1.6rem;
}

.l_h30 {
  line-height: 30px;
}

.h30 {
  height: 30px;
}

.pad_l5 {
  padding-left: 5px;
}


